*
,::after
,::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: Inter, Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
mix-blend-mode: normal;
color: $wordcolor;
}
.body__tun{
    background-color: $bgcolor;
    color: #FFFFFF
     
     }
     .body__tun .header__burger-span, .body__tun .header__burger::after, .body__tun .header__burger::before{
         background-color: #FFFFFF;
     }
     .body__tun h3, .body__tun h2, .body__tun p{
         color: #FFFFFF;
     }
     .body__tun .footer__social-link path{
         
             fill: #FFFFFF;
         
     }
     .body__tun .intro__list::-webkit-scrollbar, .body__tun .intro__list::-webkit-scrollbar-track, .body__tun .ruyxat__list::-webkit-scrollbar, .body__tun .ruyxat__list::-webkit-scrollbar-thumb {
        background-color: $bgcolor;
     }
     .body__tun .ruyxat__link{
         color: #FFFFFF;
     }
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}